body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }

  span {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    color: white;
  }
  
  button {
    padding: 10px;
    background-color: #305680;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333333;
  }
  